/* .error{
    color :red;
    padding: 10px 15px;
    border: 1px solid rgb(214, 38, 38);
    border-radius: 5px;
}
.success{
    color :green;
    padding: 10px 15px;
    border: 1px solid rgb(41, 205, 33);
    border-radius: 5px;
}
.none{
    display: none;
} */